body{
    width:1000px;
    padding-left:200px;
}

p{
  font-size: 12px;
    font-family:'Verdana', serif;
}


.menu{
    border: 1px solid black;
    background: white;
    width: 100%; 
    height: 58px;
}

.menu_float_image{
    float: left;
    padding: 6px 11px 0 32px;
}

.menu_link{
    text-decoration:none;
    float: left;
    padding: 0 10px 0 21px;
    width: 8%;
    font-size: 20px;
    color:black;
}

.menu_link1{
    text-decoration:none;
    float: left;
    font-size: 20px;
    color:silver;
    width: 7%;
}

.block3{
    border: 1px solid black;
    background: white;
    width: 100%; 
    height: 142px;
}



.float_blocks{
    float: left;
    padding: 20px 0 0 64px;
  width: 13%;
}


.float_blocks1{
    float: left;
    padding: 0 0 0 64px;
  width: 50%;
}

.one_block{
    background: #20A8C9;
    width: 100%; 
    height: 95px;
    color: white;
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.6);
}

.two_block{
    background: #049DC2;
    width: 100%; 
    height: 187px;
    color: white;
}

.circle {
	width: 30px;
	height: 30px;
	background: white;
	float: right;
	border-radius: 50px;
        margin: -17px 59px 0px 0px;
        z-index: 1;
        background-color: #eed; 
        box-shadow: 10px 10px 5px rgba(0,0,0,0.6); 
    
}

.circle2 {
	width: 30px;
	height: 30px;
	background: white;
	float: right;
	border-radius: 50px;
        margin: -29px 327px 0px 0px;
        z-index: 2;
        background-color: #eed; 
        box-shadow: 10px 10px 5px rgba(0,0,0,0.6); 
}

.circle3 {
	width: 30px;
	height: 30px;
	background: white;
	float: right;
	border-radius: 50px;
        margin: -30px 191px 0px 0px;
        z-index: 3;
        background-color: #eed; 
        box-shadow: 10px 10px 5px rgba(0,0,0,0.6); 
}

.circle_text{
    padding: 30px 0 0 0;
}

.line  {
 border-top: 3px dashed white; /* Параметры линии */
margin: 0px 300px 0 0;
 width:250px; 
z-index: 0;
}

.float_right{
  float:right;
  width:36%;
}

.shadow{
  background-color: #eed; 
        box-shadow: 10px 10px 5px rgba(0,0,0,0.6);
}

h2{
    line-height:  1.2em;
     font-family:'Verdana', serif;
}









<div class="block3_page3">           
    <div class="float_blocks_page3">
        <img class="padding_image" src="image/icon1 page3.png" width="43" height="43"> 
            <p align="center">BRANDING</p>
    </div>
            
    <div class="float_blocks_page3">
        <img class="padding_image" src="image/icon2 page3.png" width="40" height="46"> 
        <p align="center">USER EXPERIENCE</p>
    </div>
            
    <div class="float_blocks_page3">
        <img class="padding_image" src="image/icon3 page3.png" width="51" height="46"> 
        <p align="center">WEB+MOBILEDESIGN</p>
    </div>
            
    <div class="float_blocks_page3">
        <img class="padding_image" src="image/icon4 page3.png" width="44" height="45"> 
        <p align="center">VIDEO</p>
    </div>
            
    <div class="float_blocks_right_page3">
        <img class="padding_image" src="image/icon5 page3.png" width="46" height="46">
        <p align="center">DEVELOPMENT</p>
    </div>
 </div>       